:root {
  --jet: #2d2d2aff;
  --black-olive: #353831ff;
  --black-olive-2: #38423bff;
  --feldgrau: #3f5e5aff;
  --spring-green: #20fc8fff;
}
html,
body {
  min-height: 100vh;
}

body {
  width: 100%;
  margin: 0;
  background-color: var(--feldgrau);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.location {
  background-color: var(--jet);
  border-top-left-radius: 6px;
}

h1 {
  font-size: 1.8rem;
}

.location p:nth-child(3) {
  font-size: 1.2rem;
}

.current {
  background-color: var(--black-olive);
  display: flex;
  gap: 16px;
  border-top-right-radius: 6px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.forecast {
  background-color: var(--black-olive-2);
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  row-gap: 8px;
}

.location,
.current,
.forecast {
  padding: 16px 24px;
}

button,
input {
  appearance: none;
  outline: none;
  padding: 8px;
  border-radius: 6px;
}

input {
  border: 1px solid lightgray;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

button:focus-visible,
input:focus {
  outline: 3px solid darkcyan;
  box-shadow: darkcyan 0px 3px 8px;
}

form {
  display: grid;
  grid-template-columns: 200px 100px;
  row-gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 8px;
  justify-content: center;
}

form button {
  background-color: var(--spring-green);
  padding: 6px;
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

form span {
  grid-column: 1 / 3;
}

input.error {
  border: 2px solid red;
}

.hidden {
  display: none;
}

.temperatureContainer,
.forecastTemperature {
  display: flex;
}

.forecastTemperature {
  gap: 16px;
}

button {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

.temperatureContainer button {
  background-color: transparent;
  color: inherit;
  border: none;
}

.temperatureContainer button.active {
  font-weight: 600;
  font-size: 1.2em;
  color: var(--spring-green);
}

.forecastDay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentTemp {
  font-size: 4rem;
  margin: 0px;
}

.loadingGif {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 25px;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 1000px) {
  #container {
    grid-template-columns: 1fr;
  }
  .forecast {
    grid-column: 1;
  }
  .forecast div:not(:last-of-type) {
    border-bottom: 1px solid var(--feldgrau);
  }
}
